.profile__add {
    background-image: url(../../../images/add-button.svg);
    height: 50px;
    width: 150px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    margin-top: 12px;
}

.profile__add:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__add:focus {
    outline: none;
}

@media screen and (max-width:768px) {
    .profile__add {
        width: 100%;
        margin-top: 36px;
    }
}