@import url(./__like/cards__like.css);
@import url(./__photo/cards__photo.css);
@import url(./__name/cards__name.css);
@import url(./__trash/_hidden/cards__trash_hidden.css);
@import url(./__trash/cards__trash.css);
@import url(./__like-counter/cards__like-counter.css);
@import url(./__like-container/cards__like-container.css);
.cards {
    display: grid;
    grid-template-areas: 'photo photo' 'title like';
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    color: #000;
    position: relative;
}