.footer {
    padding: 45px 199px 40px;
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 0 80px 31px;
    }
}

@media screen and (max-width:450px) {
    .footer {
        padding: 0 19px 36px;
    }
}
