.profile__avatar {
    grid-area: avatar;
    border-radius: 50%;
    position: relative;
}

.profile__avatar:hover {
    cursor: pointer;
    opacity: 0.8;
}

.profile__avatar:hover::after {
    content: " ";
    background-image: url(../../../images/edit.svg);
    position: absolute;
    left: 38%;
    top: 33%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width:540px) {
    .profile__avatar {
        justify-self: center;
    }
}